{% extends 'base.html.twig' %}


{% block body %}
<div class="example-wrapper">
    <h1>{{ gestion }} une fiche forfait</h1>

    {{ form_start(formFiche) }}

    <div class="form-group" style="user-select: auto;">
        {{ form_row(formFiche.idType, {'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="form-group" style="user-select: auto;">
        {{ form_row(formFiche.qte , {'attr' : {'class':'form-control'}}) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ gestion }}</button>
    {{ form_end(formFiche) }}
</div>
{% endblock %}
